.navbar{
    background-color: blue;
    height: 25px; 
}

.links {
    color: white;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;

}

.titulo {
    color: red;
}

#dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

#dropdown-menu li {
    list-style: none;
}

#dropdown-menu li a {
    text-decoration: none;
    color: #333;
}

#dropdown-menu li a:hover {
    background-color: #f0f0f0;
}