<!DOCTYPE html>
<html>
<head>
    <title>Compañías Asignadas</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    {% include 'base.html' %}
</head>
<body>
    <h1 class="titulo">Hola {{ user.username }}</h1>
    <h1>Compañías Asignadas a {{ user.username }}</h1>
    {% if companias %}
        <ul>
            {% for compania in companias %}
                <li>{{ compania.nombre }}</li>
                <li>{{ compania.id }}</li>
                <!-- Mostrar otros detalles de la compañía según sea necesario -->
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay compañías asociadas.</p>
    {% endif %}
</body>
</html>