<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static 'styles.css' %}>
    <script src="{% static 'scripts.js' %}"></script>
    <title>CRM</title>
</head>
<header>
    <div class = "navbar">
        <nav>
            <a class = "links" href="{% url 'index' %}" >Inicio</a>
            <a class = "links" href="#" id="dropdown-toggle">Usuarios</a>
                <ul class = "links-submenu" id="dropdown-menu">
                    <li class = "links-submenu-li"><a class = "sublinks" href="{% url 'createuser' %}">Crear usuario</a></li>
                    <li class = "links-submenu-li"><a class = "sublinks" href="#">Listar usuarios</a></li>
                    <li class = "links-submenu-li"><a class = "sublinks" href="#">Editar usuario</a></li>
                    <li class = "links-submenu-li"><a class = "sublinks" href="#">Buscar usuario</a></li>
                    <li class = "links-submenu-li"><a class = "sublinks" href="#">Eliminar usuario</a></li>
                    <li class = "links-submenu-li"><a class = "sublinks" href="#">Suspender usuario</a></li>
                </ul>
        </nav>
    </div>
</header>
<body>
    
</body>
<footer>

</footer>
</html>